<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WlAuction copy copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>WlAuction copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>WlAuction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A64F6A01C340CE70060DE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A64F6B91C340CE70060DE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A64F6C41C340CE70060DE94</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD28CA21C803A580001D8AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AD28D011C803A600001D8AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
