<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Out of Province</string>
	<string>Daily Rental</string>
	<string>Fire Damaged</string>
	<string>Immeresd in Water</string>
	<string>Police Cruiser</string>
	<string>Taxi or Limo</string>
	<string>Theft Recovery</string>
	<string>Airbag Missing</string>
	<string>Total loss by Insurer</string>
</array>
</plist>
